.index_nav {
    background-color: var(--regular);
    height: 80px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 60px;
}

.index_nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.index_nav ul li a {
    color: var(--secondary);
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 29px;
}

.index_nav ul li a:hover {
    border-bottom: 2px solid var(--secondary);
}